<div class="nav-dropdown inline-block ml-4">
    <button class="nav-dropdown-toggle" onclick="toggleDropdown(this)">
        Tools ▼
    </button>
    <div class="nav-dropdown-menu">
        <a href="index.html" class="nav-dropdown-item">Home / All Tools</a>
        <a href="colorexplorer_stable.html" class="nav-dropdown-item">Color Harmony Explorer</a>
        <a href="colormatcher_stable.html" class="nav-dropdown-item">Color Matcher</a>
        <a href="dyecomparison_stable.html" class="nav-dropdown-item">Dye Comparison</a>
        <a href="coloraccessibility_stable.html" class="nav-dropdown-item">Color Accessibility Checker</a>
    </div>
</div>
